* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

/* Header and navigation styles */
header {
    background: #c0681680;
    color: #fff;
    padding: 10px;
    height: 50px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #78ff98;
    transition: color 0.5s;
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 1000px;
    margin: 5rem auto;
}

h1,
h2 {
    color: #333;
}

section {
    margin-top: 5rem;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #d63384;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Product form styles */
.hidden {
    display: none;
}

#product-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10rem;
}

#product-form input,
#product-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#product-form button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#product-form button:hover {
    background: #0056b3;
}

#add-product-button {
    margin-top: 1.5rem;
    background: rgba(0, 255, 21, 0.692);
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-item button.edit {
    background: #28a745;
}




.cart {
    width: 30px;
}

.cart:hover {
    transform: scale(1.2);
}